/* FONTS */

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/WorkSans-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/Oswald-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/SourceCodePro-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/MaterialIcons-Regular.woff2' ) format('woff2');
}

/* GENERAL */

:root {
    --site-bg: #fafbfc;
    --color: #111111;
    --bgcolor: #fdfdfd;
    --light-gray: #eaebec;
    --link-color: #4477aa;
    --link-highlight: var( --link-color );
    --phase-solid: #111111;
    --phase-liquid: #225577;
    --phase-gas: #772222;
}

html {
    color: var( --color );
    background: var( --site-bg );
}

body {
    margin: 0;
    font-family: 'Work Sans', 'Arial', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    margin: 1.2em 0;
    font-size: 1.6em;
}

a:link,
a:visited {
    text-decoration: inherit;
    color: var( --link-color );
}

a:hover {
    text-decoration: underline;
    color: var( --link-highlight );
}

a.glossary:link,
a.glossary:visited,
a.glossary:hover {
    vertical-align: top;
    text-decoration: none;
    line-height: 1;
    font-size: 0.7em;
    color: var( --color );
    opacity: 0.25;
}

sub, sup {
    font-size: 0.75em;
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/* SYMBOL */

symbol {
    display: inline-grid;
    margin-top: -0.3em;
    grid-template-areas:
        'mn cs'
        'an cs';
    justify-items: end;
    align-items: center;
    column-gap: 0.1em;
    row-gap: 0.2em;
    vertical-align: middle;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

symbol mn {
    grid-area: mn;
    font-size: 0.5em;
}

symbol an {
    grid-area: an;
    font-size: 0.5em;
}

symbol cs {
    grid-area: cs;
}

/* PROPERTY */

property:not(.pf-img) {
    display: block;
}

property value unit,
property ref,
property ref temp,
property temp K,
property temp C,
property temp unit {
    display: inline-block;
    margin-left: 0.3em;
}

property temp > :first-child {
    margin-left: 0;
}

property comment {
    display: inline-block;
    margin-left: 0.5em;
}

property temp C::before,
property comment::before {
    content: '(';
}

property temp C::after,
property comment::after {
    content: ')';
}

property .pictogram {
    display: inline-block;
    width: 110px;
    margin: 6px;
    text-align: center;
    vertical-align: top;
}

property .pictogram img {
    width: 80px;
}

property .pictogram figcaption {
    font-size: 0.6em;
}

/* HEADER */

header {
    margin: 2em 10px 3em 10px;
}

header a:hover {
    text-decoration: none;
}

header h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 60px;
    font-size: 2em;
}

header .menu {
    flex: 0 0 70px;
    padding: 12px 0;
    text-align: center;
    font-size: 36px;
    color: inherit;
    background: var( --light-gray );
}

header h1 > div {
    flex: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.75em;
}

header h1 div > * {
    flex: auto;
    vertical-align: middle;
}

header h1 div element symbol {
    padding-right: 0.5em;
}

header h1 div prev,
header h1 div next {
    flex: 0 auto;
    padding: 0 0.5em;
    text-align: center;
}

header h1 div prev a,
header h1 div next a {
    display: block;
}

header .search-bar {
    padding-left: 2em;
}

/* FOOTER */

footer {
    margin: 4em 10px 6em 10px;
    opacity: 0.8;
}

footer .credits {
    margin: 0 0 0.5em 0;
}

footer .credits a:link,
footer .credits a:visited,
footer .credits a:hover {
    text-decoration: underline;
    color: inherit;
}

footer .nav {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer .nav li {
    margin-right: 10px;
    font-size: 0.8em;
}

/* MAIN */

main {
    padding: 10px;
}

main p {
    margin: 0 0 2em 0;
}

main p.description {
    font-size: 1.4em;
}

main ul.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    column-count: 3;
    font-size: 1.2em;
}

main aside {
    margin-top: 4em;
}

/* PROPS */

table.props {
    margin: -6px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px;
}

table.props tr th,
table.props tr td {
    padding: 10px 14px;
    line-height: 1.4;
    text-align: left;
    font-size: 1.2em;
}

table.props tr th {
    background: var( --light-gray );
}

table.props tr.headline th {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
}

/* SEARCH BAR */

form.search-bar {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}

form.search-bar > * {
    line-height: 1;
    border: 1px solid var( --light-gray );
    outline: 0 none;
}

form.search-bar input {
    flex: auto;
    padding: 14px 20px;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    background: var( --bgcolor );
}

form.search-bar button {
    flex: 0 0 80px;
    padding: 4px 0;
    text-align: center;
    font-size: 40px;
    background: var( --light-gray );
    cursor: pointer;
}

/* LIST */

ul.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.list li {
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

ul.list li b {
    display: block;
    text-transform: uppercase;
    font-size: 0.75em;
}

/* GLOSSARY */

dl.glossary dt {
    font-weight: bold;
}

dl.glossary dt .wiki {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}

dl.glossary dt .wiki a {
    display: inline-block;
    margin-left: 0.25em;
}

dl.glossary dd {
    margin-bottom: 1em;
}

/* TABLE */

table.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.table a:link,
table.table a:visited,
table.table a:hover {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
}

table.table a::before {
    content: '';
    display: block;
    padding-top: 100%;
}

table.table a symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: 0;
    font-size: 2em;
    transform: translate( -50%, -50% );
}

table.table .element {
    background: var( --light-gray );
    overflow: hidden;
}

table.table .element.current {
    outline: 1px solid var( --color );
}

/* TABLE -> COLOR SCHEME */

table.table.set .element.actinide {
    background: #f3dff3;
}

table.table.set .element.alkalimetal {
    background-color: #ffc1aa;
}

table.table.set .element.alkalineearthmetal {
    background-color: #ffd8aa;
}

table.table.set .element.halogen {
    background-color: #eeeebb;
}

table.table.set .element.lanthanide {
    background-color: #f3dff3;
}

table.table.set .element.metal {
    background-color: #e2e2e2;
}

table.table.set .element.metalloid {
    background-color: #eed6bf;
}

table.table.set .element.noblegas {
    background-color: #d7eefd;
}

table.table.set .element.nonmetal {
    background-color: #baeeab;
}

table.table.set .element.transitionmetal {
    background-color: #fad4d4;
}

table.table.set .element.undefined {
    background-color: #ffffff;
}

/* TABLE -> FULL PAGE TABLE */

.table-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

table.table.full-page {
    width: 75%;
    height: auto;
    border-spacing: 0.4vw;
    font-size: 1vw;
}

table.table.full-page .element {
    width: calc( 100% / 18 );
}

/* TABLE -> LONG TABLE */

table.table.long-table {
    margin: -4px;
    table-layout: fixed;
}

table.table.long-table symbol {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8em;
}

table.table.long-table symbol mn,
table.table.long-table symbol an {
    display: none;
}

/* ERROR */

.error-404 article {
    margin: 4em 3em;
}

.error-404 article p {
    text-align: center;
    font-size: 2em;
}
