@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/WorkSans-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/Oswald-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/SourceCodePro-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/MaterialIcons-Regular.woff2' ) format('woff2');
}

:root {
    --site-bg: #f5f6f7;
}

html {
    background: var( --site-bg );
}

body {
    margin: 0;
    font-family: 'Work Sans', 'Arial', sans-serif;
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

figure.pictogram img {
    width: 80px;
}
