/* FONTS */

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/WorkSans-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/Oswald-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/SourceCodePro-Regular.woff2' ) format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url( './../fonts/MaterialIcons-Regular.woff2' ) format('woff2');
}

/* GENERAL */

:root {
    --site-bg: #f5f6f7;
    --color: #111111;
    --bgcolor: #fefefe;
    --light-gray: #eaebec;
    --mid-gray: #cacbcc;
    --highlight: #ffcc77;
    --link-color: #4477aa;
    --link-highlight: var( --link-color );
    --phase-solid: #111111;
    --phase-liquid: #225577;
    --phase-gas: #772222;
    --phase-artificial: #665533;
}

html {
    color: var( --color );
    background: var( --site-bg );
}

body {
    margin: 0;
    font-family: 'Work Sans', 'Arial', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    margin: 1.2em 0;
    font-size: 1.6em;
}

a:link,
a:visited {
    text-decoration: inherit;
    color: var( --link-color );
}

a:hover {
    text-decoration: underline;
    color: var( --link-highlight );
}

a.glossary:link,
a.glossary:visited,
a.glossary:hover {
    vertical-align: top;
    text-decoration: none;
    line-height: 1;
    font-size: 0.7em;
    color: var( --color );
    opacity: 0.25;
}

sub, sup {
    font-size: 0.75em;
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/* SYMBOL */

symbol {
    display: inline-grid;
    margin-top: -0.3em;
    grid-template-areas:
        'mn cs'
        'an cs';
    justify-items: end;
    align-items: center;
    column-gap: 0.1em;
    row-gap: 0.2em;
    vertical-align: middle;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

symbol mn {
    grid-area: mn;
    font-size: 0.5em;
}

symbol an {
    grid-area: an;
    font-size: 0.5em;
}

symbol cs {
    grid-area: cs;
}

/* PROPERTY */

property:not(.pf-img) {
    display: block;
}

property value unit,
property ref,
property ref temp,
property temp K,
property temp C,
property temp unit {
    display: inline-block;
    margin-left: 0.3em;
}

property temp > :first-child {
    margin-left: 0;
}

property comment {
    display: inline-block;
    margin-left: 0.5em;
}

property temp C::before,
property comment::before {
    content: '(';
}

property temp C::after,
property comment::after {
    content: ')';
}

property .pictogram {
    display: inline-block;
    width: 110px;
    margin: 6px;
    text-align: center;
    vertical-align: top;
}

property .pictogram img {
    width: 80px;
}

property .pictogram figcaption {
    font-size: 0.6em;
}

/* HEADER */

header {
    margin: 2em 10px 3em 10px;
}

header a:hover {
    text-decoration: none;
}

header h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 60px;
    font-size: 2em;
}

header .menu {
    flex: 0 0 70px;
    padding: 12px 0;
    text-align: center;
    font-size: 36px;
    color: inherit;
    background: var( --light-gray );
}

header h1 > div {
    flex: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.75em;
}

header h1 div > * {
    flex: auto;
    vertical-align: middle;
}

header h1 div element symbol {
    padding-right: 0.5em;
}

header h1 div prev,
header h1 div next {
    flex: 0 auto;
    padding: 0 0.5em;
    text-align: center;
}

header h1 div prev a,
header h1 div next a {
    display: block;
}

header .search-bar {
    padding-left: 2em;
}

/* FOOTER */

footer {
    margin: 4em 10px 6em 10px;
    opacity: 0.8;
}

footer .credits {
    margin: 0 0 0.5em 0;
}

footer .credits a:link,
footer .credits a:visited,
footer .credits a:hover {
    text-decoration: underline;
    color: inherit;
}

footer .nav {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer .nav li {
    margin-right: 10px;
    font-size: 0.8em;
}

/* MAIN */

main {
    padding: 10px;
}

main p {
    margin: 0 0 2em 0;
}

main p.description {
    font-size: 1.4em;
}

main ul.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    column-count: 3;
    font-size: 1.2em;
}

main aside {
    margin-top: 4em;
}

/* PROPS */

table.props {
    margin: -6px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px;
}

table.props tr th,
table.props tr td {
    padding: 10px 14px;
    line-height: 1.4;
    text-align: left;
    font-size: 1.2em;
}

table.props tr th {
    background: var( --light-gray );
}

table.props tr.headline th {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
}

/* SEARCH BAR */

form.search-bar {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}

form.search-bar > * {
    line-height: 1;
    border: 1px solid var( --light-gray );
    outline: 0 none;
}

form.search-bar input {
    flex: auto;
    padding: 14px 20px;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    background: var( --bgcolor );
}

form.search-bar button {
    flex: 0 0 80px;
    padding: 4px 0;
    text-align: center;
    font-size: 40px;
    background: var( --light-gray );
    cursor: pointer;
}

/* LIST */

ul.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.list li {
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

ul.list li b {
    display: block;
    text-transform: uppercase;
    font-size: 0.75em;
}

/* GLOSSARY */

dl.glossary dt {
    font-weight: bold;
}

dl.glossary dt .wiki {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}

dl.glossary dt .wiki a {
    display: inline-block;
    margin-left: 0.25em;
}

dl.glossary dd {
    margin-bottom: 1em;
}

/* TABLE */

table.table {
    width: 100%;
    font-size: 0.9em;
    border-collapse: separate;
    border-spacing: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.table .element {
    position: relative;
    background: var( --light-gray );
    overflow: hidden;
}

table.table .element overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

table.table .element a:link,
table.table .element a:visited,
table.table .element a:hover {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
}

table.table .element a::before {
    content: '';
    display: block;
    padding-top: 100%;
}

table.table .element symbol {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    z-index: 1;
}

table.table .element symbol mn {
    display: none;
}

table.table .element symbol an {
    position: absolute;
    top: 6%;
    left: 10%;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75vw;
}

table.table .element symbol cs {
    position: absolute;
    bottom: 14%;
    right: 14%;
    font-size: 1.6vw;
}

table.table .header {
    padding: 0.1em 0.2em;
    text-align: center;
    font-size: 75%;
    font-weight: bold;
    color: var( --mid-gray );
}

table.table .placeholder {
    text-align: center;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6vw;
    color: var( --mid-gray );
}

table.table tr.empty-row > * {
    line-height: 1;
    font-size: 1vh;
}

/* TABLE -> COLOR SCHEME */

/* TABLE -> COLOR SCHEME -> GENERAL */

table.table.property .element[prop="1"] {
    background: var( --highlight );
}

table.table .element[current] {
    outline: 1px solid var( --color );
}

table.table.set .element[radioactive] overlay {
    background: repeating-linear-gradient(
        -45deg,
        var( --bgcolor ),
        var( --bgcolor ) 10%,
        transparent 10%,
        transparent 20%
    );
}

table.table.set .element:not([set]),
table.table.group .element:not([group]),
table.table.period .element:not([period]),
table.table.block .element:not([block]),
table.table.age .element:not([age]),
table.table.metal .element:not([metal]),
table.table.radioactivity .element:not([radioactivity]),
table.table.magnetism .element:not([magnetism]),
table.table.acid_base .element:not([acid_base]),
table.table.basicity .element:not([basicity]),
table.table.goldschmidt .element:not([goldschmidt]),
table.table.crystal_system .element:not([crystal_system]),
table.table.bravais .element:not([bravais]),
table.table.superconductivity .element:not([superconductivity]),
table.table.trend .element:not([trend]) {
    background: var( --bgcolor );
}

/* TABLE -> COLOR SCHEME -> PHASES */

table.table.set .element[phase="solid"] symbol cs {
    color: var( --phase-solid );
}

table.table.set .element[phase="liquid"] symbol cs {
    color: var( --phase-liquid );
}

table.table.set .element[phase="gas"] symbol cs {
    color: var( --phase-gas );
}

table.table.set .element[phase="artificial"] symbol cs {
    color: var( --phase-artificial );
}

/* TABLE -> COLOR SCHEME -> PROPERTIES */

table.table.set .element[set="actinide"] {
    background: #f3dff3;
}

table.table.set .element[set="alkalimetal"] {
    background: #ffc1aa;
}

table.table.set .element[set="alkalineearthmetal"] {
    background: #ffd8aa;
}

table.table.set .element[set="halogen"] {
    background: #eeeebb;
}

table.table.set .element[set="lanthanide"] {
    background: #f3dff3;
}

table.table.set .element[set="metal"] {
    background: #e2e2e2;
}

table.table.set .element[set="metalloid"] {
    background: #eed6bf;
}

table.table.set .element[set="noblegas"] {
    background: #d7eefd;
}

table.table.set .element[set="nonmetal"] {
    background: #baeeab;
}

table.table.set .element[set="transitionmetal"] {
    background: #fad4d4;
}

table.table.group .element[group="1"] {
	background: #b6d0a4;
}

table.table.group .element[group="2"] {
	background: #b1cc9e;
}

table.table.group .element[group="3"] {
	background: #abc797;
}

table.table.group .element[group="4"] {
	background: #a6c391;
}

table.table.group .element[group="5"] {
	background: #a0be8c;
}

table.table.group .element[group="6"] {
	background: #9bb986;
}

table.table.group .element[group="7"] {
	background: #96b580;
}

table.table.group .element[group="8"] {
	background: #91b07a;
}

table.table.group .element[group="9"] {
	background: #8bac74;
}

table.table.group .element[group="10"] {
	background: #86a86e;
}

table.table.group .element[group="11"] {
	background: #81a368;
}

table.table.group .element[group="12"] {
	background: #7b9f63;
}

table.table.group .element[group="13"] {
	background: #769a5d;
}

table.table.group .element[group="14"] {
	background: #719657;
}

table.table.group .element[group="15"] {
	background: #6c9152;
}

table.table.group .element[group="16"] {
	background: #678d4c;
}

table.table.group .element[group="17"] {
	background: #618946;
}

table.table.group .element[group="18"] {
	background: #5c8441;
}

table.table.period .element[period="1"] {
	background: #e5c1e4;
}

table.table.period .element[period="2"] {
	background: #ddb5db;
}

table.table.period .element[period="3"] {
	background: #d4a9d2;
}

table.table.period .element[period="4"] {
	background: #cc9ec9;
}

table.table.period .element[period="5"] {
	background: #c492c1;
}

table.table.period .element[period="6"] {
	background: #bc87b8;
}

table.table.period .element[period="7"] {
	background: #b47caf;
}

table.table.block .element[block="s"] {
	background: #aaccee;
}

table.table.block .element[block="p"] {
	background: #bbeebb;
}

table.table.block .element[block="d"] {
	background: #eeeebb;
}

table.table.block .element[block="f"] {
	background: #eecccc;
}

table.table.block .element[block="g"] {
	background: #ccaacc;
}

table.table.age .element[age="antiquity"] {
	background: #ffbbbb;
}

table.table.age .element[age="enlightenment"] {
	background: #bbbbff;
}

table.table.age .element[age="revolution"] {
	background: #bbffbb;
}

table.table.age .element[age="classifying"] {
	background: #bbffff;
}

table.table.age .element[age="quantum"] {
	background: #ffcc99;
}

table.table.age .element[age="synthesis"] {
	background: #ffffbb;
}

table.table.age .element[age="recent-synthesis"] {
	background: #ffbbff;
}

table.table.metal .element[metal="metal"] {
	background: #b6cbff;
}

table.table.metal .element[metal="metalloid"] {
	background: #ccc9ef;
}

table.table.metal .element[metal="nonmetal"] {
	background: #eed4ee;
}

table.table.radioactivity .element[radioactivity="stable"] {
	background: #99ffff;
}

table.table.radioactivity .element[radioactivity="slightly-radioactive"] {
	background: #99ff99;
}

table.table.radioactivity .element[radioactivity="significantly-radioactive"] {
	background: #ffff99;
}

table.table.radioactivity .element[radioactivity="radioactive"] {
	background: #ffcc77;
}

table.table.radioactivity .element[radioactivity="highly-radioactive"] {
	background: #ff9999;
}

table.table.radioactivity .element[radioactivity="extremely-radioactive"] {
	background: #ff99ff;
}

table.table.magnetism .element[magnetism="diamagnetism"] {
	background: #d3e4e4;
}

table.table.magnetism .element[magnetism="ferromagnetism"] {
	background: #abcecd;
}

table.table.magnetism .element[magnetism="paramagnetism"] {
	background: #82b8b7;
}

table.table.acid_base .element[acid_base="basic"] {
	background: #bbddff;
}

table.table.acid_base .element[acid_base="amphoteric"] {
	background: #ffff99;
}

table.table.acid_base .element[acid_base="acidic"] {
	background: #ffbbbb;
}

table.table.basicity .element[basicity="strongly-alkaline"] {
	background: #7fbef7;
}

table.table.basicity .element[basicity="alkaline"] {
	background: #90c7ec;
}

table.table.basicity .element[basicity="moderately-alkaline"] {
	background: #9ed2e1;
}

table.table.basicity .element[basicity="slightly-alkaline"] {
	background: #aadcd6;
}

table.table.basicity .element[basicity="amphoterism"] {
	background: #b5e6ca;
}

table.table.basicity .element[basicity="neutral"] {
	background: #bef1be;
}

table.table.basicity .element[basicity="slightly-acidic"] {
	background: #d4dbb5;
}

table.table.basicity .element[basicity="moderately-acidic"] {
	background: #e5c5ac;
}

table.table.basicity .element[basicity="acidic"] {
	background: #f3ada3;
}

table.table.basicity .element[basicity="strongly-acidic"] {
	background: #ff949a;
}

table.table.goldschmidt .element[goldschmidt="lithophile"] {
	background: #ffcc77;
}

table.table.goldschmidt .element[goldschmidt="siderophile"] {
	background: #ffaaaa;
}

table.table.goldschmidt .element[goldschmidt="chalcophile"] {
	background: #ffff88;
}

table.table.goldschmidt .element[goldschmidt="atmophile"] {
	background: #aaffff;
}

table.table.goldschmidt .element[goldschmidt="synthetic"] {
	background: var( --bgcolor );
}

table.table.crystal_system .element[crystal_system="BCC"] {
	background: #ffdd88;
}

table.table.crystal_system .element[crystal_system="FCC"] {
	background: #ffbb88;
}

table.table.crystal_system .element[crystal_system="HCP"] {
	background: #ffcccc;
}

table.table.crystal_system .element[crystal_system="DHCP"] {
	background: #ff8888;
}

table.table.crystal_system .element[crystal_system="ORTH"] {
	background: #bbeebb;
}

table.table.crystal_system .element[crystal_system="TETR"] {
	background: #ffffcc;
}

table.table.crystal_system .element[crystal_system="RHO"] {
	background: #bbccff;
}

table.table.crystal_system .element[crystal_system="HEX"] {
	background: #ccbb88;
}

table.table.crystal_system .element[crystal_system="SC"] {
	background: #ffccff;
}

table.table.crystal_system .element[crystal_system="DC"] {
	background: #cccccc;
}

table.table.crystal_system .element[crystal_system="MON"] {
	background: #bbffff;
}

table.table.bravais .element[bravais="BCC"] {
	background: #ffcbcb;
}

table.table.bravais .element[bravais="FCC"] {
	background: #ffebad;
}

table.table.bravais .element[bravais="HCP"] {
	background: #b9ffc5;
}

table.table.bravais .element[bravais="unusual"] {
	background: #ffff40;
}

table.table.bravais .element[bravais="nonmetal"] {
	background: #b3b7ff;
}

table.table.superconductivity .element[superconductivity="normal"] {
	background: #bbee33;
}

table.table.superconductivity .element[superconductivity="special"] {
	background: #eecc00;
}

/* TABLE -> COLOR SCHEME -> TRENDS */

table.table.trend.fire .element[trend="0"] {
    background: #ffea00;
}

table.table.trend.fire .element[trend="1"] {
    background: #ffd500;
}

table.table.trend.fire .element[trend="2"] {
    background: #ffbf00;
}

table.table.trend.fire .element[trend="3"] {
    background: #ffaa00;
}

table.table.trend.fire .element[trend="4"] {
    background: #ff9500;
}

table.table.trend.fire .element[trend="5"] {
    background: #ff8000;
}

table.table.trend.fire .element[trend="6"] {
    background: #ff6a00;
}

table.table.trend.fire .element[trend="7"] {
    background: #ff5500;
}

table.table.trend.fire .element[trend="8"] {
    background: #ff4000;
}

table.table.trend.fire .element[trend="9"] {
    background: #ff2b00;
}

table.table.trend.ice .element[trend="0"] {
    background: #eafbfb;
}

table.table.trend.ice .element[trend="1"] {
    background: #cbe7e7;
}

table.table.trend.ice .element[trend="2"] {
    background: #bcdddc;
}

table.table.trend.ice .element[trend="3"] {
    background: #aed2d2;
}

table.table.trend.ice .element[trend="4"] {
    background: #93bebe;
}

table.table.trend.ice .element[trend="5"] {
    background: #87b4b3;
}

table.table.trend.ice .element[trend="6"] {
    background: #7baaa9;
}

table.table.trend.ice .element[trend="7"] {
    background: #6fa09f;
}

table.table.trend.ice .element[trend="8"] {
    background: #649595;
}

table.table.trend.ice .element[trend="9"] {
    background: #5a8b8a;
}

table.table.trend.green .element[trend="0"] {
    background: #d8f2c7;
}

table.table.trend.green .element[trend="1"] {
    background: #bedbb0;
}

table.table.trend.green .element[trend="2"] {
    background: #b1d0a5;
}

table.table.trend.green .element[trend="3"] {
    background: #97b98e;
}

table.table.trend.green .element[trend="4"] {
    background: #8bae83;
}

table.table.trend.green .element[trend="5"] {
    background: #7ea278;
}

table.table.trend.green .element[trend="6"] {
    background: #71976c;
}

table.table.trend.green .element[trend="7"] {
    background: #648b61;
}

table.table.trend.green .element[trend="8"] {
    background: #578056;
}

table.table.trend.green .element[trend="9"] {
    background: #4a744a;
}

/* TABLE -> FULL PAGE TABLE */

.table-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

table.table.full-page {
    width: 70%;
    height: auto;
    border-spacing: 0.4vw;
    font-size: 0.9vw;
}

table.table.full-page .element {
    width: calc( 100% / 18 );
}

/* TABLE -> LONG TABLE */

table.table.long-table {
    margin: -4px;
    table-layout: fixed;
}

table.table.long-table .element symbol an {
    display: none;
}

table.table.long-table .element symbol cs {
    bottom: 50%;
    right: 50%;
    transform: translate( 50%, 50% );
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8em;
}

/* LEGEND */

/* LEGEND -> TREND */

trend {
    display: grid;
    grid-template-columns: 20% repeat( 10, 8% );
    grid-template-rows: repeat( 2, auto );
    grid-gap: 0;
    justify-items: center;
    grid-template-areas:
        'label bar bar bar bar bar bar bar bar bar bar'
        'label vp0 vp1 vp2 vp3 vp4 vp5 vp6 vp7 vp8 vp9'
    ;
    line-height: 1;
    font-size: 0.86rem;
}

trend label {
    grid-area: label;
    justify-self: start;
    font-weight: bold;
}

trend bar {
    grid-area: bar;
    justify-self: stretch;
    height: 0.86rem;
    background: var( --light-gray );
    border-radius: 0.43rem;
}

trend val {
    position: relative;
    padding-top: 8px;
}

trend val::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc( 50% - 0.5px );
    width: 1px;
    height: 6px;
    background: var( --color );
}

trend val[pos="0"] {
    grid-area: vp0;
}

trend val[pos="1"] {
    grid-area: vp1;
}

trend val[pos="2"] {
    grid-area: vp2;
}

trend val[pos="3"] {
    grid-area: vp3;
}

trend val[pos="4"] {
    grid-area: vp4;
}

trend val[pos="5"] {
    grid-area: vp5;
}

trend val[pos="6"] {
    grid-area: vp6;
}

trend val[pos="7"] {
    grid-area: vp7;
}

trend val[pos="8"] {
    grid-area: vp8;
}

trend val[pos="9"] {
    grid-area: vp9;
}

/* LEGEND -> TREND -> SCHEMES */

trend[scheme="fire"] bar {
    background: linear-gradient( to right, #ffea00, #ff2b00 );
}

trend[scheme="ice"] bar {
    background: linear-gradient( to right, #eafbfb, #5a8b8a );
}

trend[scheme="green"] bar {
    background: linear-gradient( to right, #d8f2c7, #4a744a );
}

/* ERROR */

.error-404 article {
    margin: 4em 3em;
}

.error-404 article p {
    text-align: center;
    font-size: 2em;
}
